*{
    margin:0 auto;
    padding:0;
    color:#333;
}

body{
    overflow-x:hidden;
}

#popup{
    width:750px;
    height:450px;
    top:32%;
    left:50%;
    display:none;
    border-radius:20px;
    box-shadow: 1px 1px 10px 1px grey;
    transform:translateX(-50%);
    position:fixed;
    background-color:white;
    z-index:1;
}

    #close{
        width:17px;
        height:17px;
        float:right;
        margin-top:30px;
        margin-right:30px;
        border:none;
    }

    #close img{
        width:16px;
        height:17px;
    }

    #popup_contents{
        width:100%;
        height:335px;
        float:left;
    }

        .dot{
            width:80px;
            height:80px;
            float:left;
            margin-top:25px;
            margin-left:20px;
            margin-right:20px;
            border-radius:50px;
            background-color:skyblue;
        }

    #cancel{
        width:100px;
        height:40px;
        float:left;
        margin-left:330px;
        font-size:13pt;
        color:white;
        border:none;
        border-radius:10px;
        background-color:blue;
    }

#head{
    width:100%;
    height:150px;
    position:relative;
}
    #logo{
        width:50%;
        height:100%;
        float:left;
        margin-top:20px;
    }
        #logo img{
            width:100px;
            height:90px;
            float:left;
            margin-top:25px;
            margin-left:40%;
            cursor:pointer;
        }

    #user{
        width:50%;
        height:150px;
        float:left;
    }

    #head_menu{
        width:100%;
        heifht:100%;
        float:left;
        margin-top:20px;
        margin-left:45%;
    }

        #head_menu li{
            width:80px;
            height:80px;
            float:left;
            margin-right:10px;
            color:black;
            font-size:12pt;
            text-align:center;
            line-height:80px;
            list-style:none;
        }

        #basket{
            width:42px;
            height:42px;
            float:left;
            margin-top:10px;
        }

            #basket img{
                width:42px;
                height:42px;
            }


#main{
    width:100%;
    height:3000px;
    position:relative;
}

    #title{
        width:100%;
        height:80px;
        float:left;
        font-size:20pt;
        font-weight:bold;
        text-align:center;
    }

    #contents{
        height:100%;
        float:left;
        top:-40px;
        left:50%;
        position:relative;
        transform:translateX(-50%);
    }

        tr{
            width:500px;
            height:100px;
            position: relative;
        }

            td{
                width:198px;
                height:100px;
                position: relative;
            }

                .badge{
                    width:160px;
                    height:80px;
                    float:left;
                    margin-left:16px;
                    margin-right:16px;
                    border-radius:50px;
                    background-color:#eff0f2;
                    background-position:center center;
                }

                .badge_title{
                    width:100%;
                    height:20px;
                    float:left;
                    margin-top:10px;
                    font-size:15px;
                    text-align:center;
                }