*{
    margin:0 auto;
    padding:0;
    color:#333;
}

body{
    overflow-x:hidden;
}

#head{
    width:100%;
    height:150px;
    position:relative;
}
    #logo{
        width:50%;
        height:100%;
        float:left;
        margin-top:20px;
    }
        #logo img{
            width:100px;
            height:90px;
            float:left;
            margin-top:25px;
            margin-left:40%;
        }

    #user{
        width:50%;
        height:150px;
        float:left;
    }

    #head_menu{
        width:100%;
        heifht:100%;
        float:left;
        margin-top:20px;
        margin-left:45%;
    }

        #head_menu li{
            width:80px;
            height:80px;
            float:left;
            margin-right:10px;
            color:black;
            font-size:12pt;
            text-align:center;
            line-height:80px;
            list-style:none;
        }

        #basket{
            width:42px;
            height:42px;
            float:left;
            margin-top:10px;
        }

            #basket img{
                width:42px;
                height:42px;
            }

#main{
    width:100%;
    height:800px;
    position:relative;
}

#title{
    width:100%;
    height:80px;
    float:left;
    font-size:20pt;
    font-weight:bold;
    text-align:center;
}

#contents{
    height:720px;
    float:left;
    top:-20px;
    left:50%;
    position:relative;
    transform:translateX(-50%);
}

#contents tr td{
    width:350px;
    height:197px;
    float:left;
    margin-left:33px;
    border-radius:10px;
    background-color:#c4c4c4
}