*{
    margin:0 auto;
    padding:0;
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow-x:hidden;
}

#popup{
    width:750px;
    height:450px;
    top:32%;
    left:50%;
    display:none;
    border-radius:20px;
    box-shadow: 1px 1px 10px 1px grey;
    transform:translateX(-50%);
    position:fixed;
    background-color:white;
    z-index:1;
    text-align: center;
}

    #close{
        width:17px;
        height:17px;
        float:right;
        margin-top:30px;
        margin-right:30px;
        border:none;
    }

        #close img{
            width:16px;
            height:17px;
        }

    #popup_contents{
        width:100%;
        height:60%;
        float:left;
        /*background-color: #039be5;*/
        margin-top: 30px;
        text-align: center;
        display: inline-block;
    }
        #badgeExample{
            margin-top: 30px;
        }
        #badgeText{
            width: 100%;
            height: 100px;
            margin-top: 30px;
            font-size: 20px;
            resize: none;
            text-align: center;
        }
        #submit{
            width:100px;
            height:40px;
            margin-top: 20px;
            margin-right: 10px;
            font-size:13pt;
            color:white;
            border:none;
            border-radius:10px;
            background-color: #6a6adc;
        }
        #cancel{
            width:100px;
            height:40px;
            font-size:13pt;
            color:white;
            border:none;
            border-radius:10px;
            background-color: #6a6adc;
        }
        #goGit{
            margin-top: 50px;
            color: #6a6adc;
        }

#head{
    width:100%;
    height:150px;
    position:relative;
}
    #logo{
        width:50%;
        height:100%;
        float:left;
        margin-top:20px;
    }
        #logo img{
            width:100px;
            height:90px;
            float:left;
            margin-top:25px;
            margin-left:40%;
            cursor:pointer;
        }

    #user{
        width:50%;
        height:150px;
        float:left;
    }

    #head_menu{
        width:100%;
        heifht:100%;
        float:left;
        margin-top:20px;
        margin-left:50%;
    }

        #head_menu li{
            width:80px;
            height:80px;
            float:left;
            margin-right:10px;
            color:black;
            font-size:12pt;
            text-align:center;
            line-height:80px;
            list-style:none;
        }

#main{
    width:100%;
    height:8100px;
    position:relative;
}

    #title{
        width:100%;
        height:80px;
        float:left;
        font-size:20pt;
        font-weight:bold;
        text-align:center;
    }

    #contents{
        height:8020px;
        float:left;
        top:-20px;
        left:49%;
        position:relative;
        transform:translateX(-50%);
    }

        #contents tr td{
            width:536px;
            height:215px;
            float:left;
            margin-left:30px;
            margin-bottom:48px;
            border-radius:10px;
            background-size:cover;
            cursor:pointer;
        }

            #contents tr td img{
                width:536px;
                height:215px;
                float:left;
            }
.stat{
    float: left;
}
